<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UrlDocsvision" value="http://WIN-PP9V1QP9RNV/DocsVision/StorageServer/StorageServerService.asmx"/>
    <add key="UserName" value="WIN-PP9V1QP9RNV\Administrator"/>
    <add key="Password" value="P@ssw0rd"/>
    <add key="SessionLoginAction" value="http://schemas.docsvision.com/Platform/2009-02-03/StorageServer/SessionLogin"/>
    <add key="BaseName" value="docsvision"/>
    <add key="DocumentId" value="B9F7BFD7-7429-455E-A3F1-94FFB569C794"/>
    <add key="NewCardAction" value="http://schemas.docsvision.com/Platform/2009-02-03/StorageServer/CardCreate"/>
    <add key="SessionXml" value="SessionXml.xml"/>
    <add key="NewCardXml" value="NewCardXml.xml"/>
    <add key="SessionCloseAction" value="http://schemas.docsvision.com/Platform/2009-02-03/StorageServer/SessionLogout"/>
    <add key="SessionCloseXml" value="SessionClose.xml"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>